body {
  background: white; /* Make it white if you need */
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.client-view {
  display: flex;
  border: 1px solid black;
}

.client-info-list {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  // width: 30vw;
}

.client-info-list-item {
  padding: 6px;
}

.sessions-list {
  // height: 50vh;
  // width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.client-view-client-sessions {
  display: flex;
  flex-direction: column;
}

.session-list-item {
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 5px;
}

.session-list-item-btn {
  height: 20px;
  width: 50px;
  margin-left: 20px;
}
