//:root {

// }

$primary-color: rgb(135, 153, 105);
$secondary-color: rgb(50, 61, 57);
$tertiary-color: rgb(95, 83, 89);
$accent-color: rgb(135, 18, 143);
$neutral-color: rgb(194, 191, 212);

$body-color: rgb(245, 240, 238);
$mauve: rgb(224, 176, 255);
