.client-list-container {
  display: flex;
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  border: 1px solid black;
  width: 100%;
  align-self: center;
  padding-top: 10px;
  align-items: center;
  height: 100vh;
  background-color: rgb(41, 53, 50);
  transition: width 0.5s ease;
  overflow: hidden;
  padding: 10px;

  //border: 1px solid black;
  //padding: 10px;
}

.client-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  width: 100%;
}

.client-list__search-input {
  margin-bottom: 10px;
  align-content: center;
  align-self: center;
  width: 95%;
  padding: 10px;
  border: 1px solid rgb(41, 53, 50);
  border-radius: 5px;
  font-size: 14px;
  color: rgb(41, 53, 50);
}

.client-list__client-list {
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  min-height: auto;
  max-height: calc(
    100% - 50pc
  ); /* subtract the height of the add client button */
}

.client-list__client {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  margin-bottom: 10px;
  background-color: white;
  height: 50px;
}

.client-list__add-client {
  align-content: center;
  align-self: center;
  border-radius: 5px;
}

// .client-list {
//   background-color: rgb(41, 53, 50);
//   height: 100%;
//   width: 33%;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   // position: fixed;
//   // top: 50px;
//   // left: 0;
//   // right: 0;
//   // bottom: 50px;
//   transition: width 0.5s ease;
//   overflow: hidden;
//   padding: 10px;

//   &__header {
//     padding: 20px;
//   }

//   &__search-input {
//     width: calc(100% - 10px); /* subtract 20px to account for the padding */
//     padding: 10px;
//     border: 1px solid rgb(41, 53, 50);
//     border-radius: 5px;
//     font-size: 14px;
//     color: rgb(41, 53, 50);
//     //background-color: rgb(125, 117, 133);
//   }

//   @media (max-width: 768px) {
//     width: 33%;
//   }

//   @media (min-width: 768px) {
//     width: 25%;
//     max-width: calc(100vw / 4);
//   }
// }

// .client-list__client-list {
//   overflow-y: auto; /* makes it only scrollable vertically */
//   max-height: calc(
//     100% - 50px
//   ); /* subtract the height of the add client button */
// }

// .client-list__add-client {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   //height: 47px;
//   // bottom: 3px;
//   // right: 0px;
//   margin-bottom: 1px;
//   border-radius: 10px;

//   background-color: rgb(119, 143, 88);
//   border-top: 1px solid #ccc;
//   // z-index: 3;
//   // position: absolute;

//   &::before {
//     content: '+';
//     font-size: 30px;
//     margin-right: 10px;
//   }
// }

// .client-list__client-item {
//   width: 100%;
//   border: 1px solid rgb(41, 53, 50);
//   border-radius: 5px;
//   padding: 20px;
//   margin-top: 4px;
//   margin-bottom: 1px;
//   align-self: right;
//   background-color: white;
// }

// .client-list-container {
//   display: flex;
//   align-items: left;
//   justify-content: left;
//   // height: 100vh;
//   width: 40vw;
//   background-color: white;
// }
