nav {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  overflow-y: hidden;
  justify-content: left;
}

.nav-button {
  margin-right: 2px;
  padding: 20px;
  background-color: rgb(135, 128, 143);
  border-radius: 5px;
  height: 90%;
  overflow: hidden;
  color: rgb(235, 232, 222);
  cursor: pointer;
}

.banner {
  animation: banner-fadeIn 1s ease-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  font-style: italic;
  font-size: 60px;
  color: black;
  text-shadow: 2px 2px 3px black;
  width: 66.66%;
  font-stretch: ultra-expanded;
}

@keyframes banner-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span {
  animation: letter-fade-in 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
  margin: 0 0.5em;

  @keyframes letter-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
