
$primary-color: rgb(135, 153, 105);
$secondary-color: rgb(50, 61, 57);
$tertiary-color: rgb(95, 83, 89);
$accent-color: rgb(135, 18, 143);
$neutral-color: rgb(194, 191, 212);



.sessions-list-inner {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
   
    
    h2 {
      margin-bottom: 20px;
      color: #333;
    }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        margin-bottom: 10px;
        font-size: 1.2em;
        color: #333;
      }
    }
  }
  
  .sessions-list-notes {
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(135, 153, 105);
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    height: 90vh;
    
    h2 {
      margin-bottom: 20px;
      color: #333;
    }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    
      li {
        margin-bottom: 10px;
        font-size: 1.2em;
        color: black;
      }
    }
  }
  
  